.P-title-info{
  margin: 50px 0;
}
.P-static-title{
  font-size: 28px;
  font-family:monospace;
  margin: 10px 0;
  color: black;
  font-weight: 400;
}

.P-static-text{
  width: 700px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  margin: 10px 0;
  color:gray;
line-height: 30px;
}