@import "../pages/home/style";


// image content

.P-wrapper {
  width: 100%;
  height: 500px;
}

.P-wrapper-logo {
  width: 60px;
  height: 60px;
}

.P-wrapper-logo-title {
  font-size: 20px;
  color: white;
  font-family: monospace;
}

.P-wrapper-logo-text {
  font-size: 16px;
  color: white;
  font-family: monospace;
}

// navigation list

.P-header-nav {
  a {
    text-decoration: none;
    font-size: 20px;
    font-family:sans-serif;
    color: #ffffff;
    margin: 0 15px;
  }
}
