@import "../../pages/home/style";


// image content

.P-wrapper {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.P-wrapper-logo {
  width: 60px;
  height: 60px;
  margin: 0 15px 0 0;
}

.P-wrapper-logo-title {
  font-size: 28px;
  color: white;
  font-family: "Microsoft YaHei UI";
}

.P-wrapper-logo-text {
  font-size: 16px;
  color: white;
  font-family: monospace;
}

// navigation list

.P-header-nav {
  a {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
    margin: 0 15px;
  }
}

.P-nav-bottom {
  margin: 10px 0 40px 0;
}
