body {
   counter-reset: section;
}

.P-blue{
   color:blue;;
   padding: 5px;
}

.P-red{
   color:red;
   padding: 5px;
}


.P-res-odd-even{
   width: 600px;
   height: 500px;
   border: 1px solid brown ;
}

// counter

.P-red::before {
   counter-increment: section;
   content: "Zuyg_" counter(section) ": ";
}

.P-blue::before {
   counter-increment: section;
   content: "Kent_" counter(section) ": ";
}