.P-random-parent {
  margin: 30px;
  position: relative;
}

.P-btn-random {
  border: 1px solid #7ba189;
  text-align: center;
  width: 50px;
  height: 30px;
  background-color: #7ba189;
  position: absolute;
  left: 300px;
  transition: 5s;
}

