.P-img-person {
  width: 200px;
  height: 300px;
}

.P-person-info {
  margin-left: 20px;
}

.P-person-name {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #09C;
}

.P-person-position {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #C39;
  padding: 10px 0 20px 0;
}

.P-person-text {
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 0.2px;
  color: #626364;
  max-width: 350px;
  width: 100%;
}

// facebook, twitter, instagram icon

.P-person-social {
  margin: 30px 0 0 20px;
}

.P-person-social ul li {
  margin: 15px;
}

.icon-facebook {
  font-size: 32px;
  color: #4267B2;
}

.icon-twitter {
  font-size: 32px;
  color: #1DA1F2
}

.icon-instagram {
  font-size: 32px;
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
}

