// list

.P-userInfo{
  border: 2px solid #5279EC;
}
.P-firstName{
  color:#5279EC;
  font-family: Constantia;
  font-size: 20px;
  padding: 2px;

}

.P-lastName{
  color:#5279EC;
  font-family: Constantia;
  font-size: 20px;
  padding: 2px;
}

.P-firstName{
  color:#5279EC;
  font-family: Constantia;
  font-size: 16px;
}

.P-firstName{
  color:#5279EC;
  font-family: Constantia;
  font-size: 16px;
  padding: 2px;

}

.P-email{
  color:#5279EC;
  font-family: Constantia;
  font-size: 16px;
  padding: 2px;
}

.P-gender{
  color:#5279EC;
  font-family: Constantia;
  font-size: 16px;
  padding: 2px;
}

.P-phone {
  color: #5279EC;
  font-family: monospace;
  font-size: 14px;
  padding: 2px;
}