.P-input-focus{
  width: 300px;
  height: 30px;
  border: 1px solid #7ba189;
  color: #7ba189;
  transition: 0.3s;
}

.P-btn-focus{
  border: 1px solid #7ba189;
  text-align: center;
  width: 50px;
  height: 30px;
  background-color: #7ba189;
}

.P-focus{
  margin: 30px;
}