.P-product{
  margin:30px;
}

.P-input-product{
  width: 300px;
  height: 20px;
  border:1px solid black;
}

.P-product-box{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

.P-product-btn{
  width: 30px;
  height: 10px;
  text-align: center;
}


